<dl>
    <dt>Name</dt>
    <dd>{{data.name}}</dd>
  
    <dt>Classification</dt>
    <dd>{{data.classification}}</dd>
  
    <dt>Designation</dt>
    <dd>{{data.designation}}</dd>
  
    <dt>Avg Height</dt>
    <dd>{{data.average_height}}</dd>
  
    <dt>Avg Lifespan</dt>
    <dd>{{data.average_lifespan}}</dd>
  
    <dt>Eye Color</dt>
    <dd>{{data.eye_colors}}</dd>
  
    <dt>Hair Color</dt>
    <dd>{{data.hair_colors}} </dd>
  
    <dt>Skin Color</dt>
    <dd>{{data.skin_colors}}</dd>
  
    <dt>Language</dt>
    <dd>{{data.language}}</dd>
  
    <dt>Create</dt>
    <dd>{{data.created| date}} </dd>
  
    <dt>Edit</dt>
    <dd>{{data.edited | date}}</dd>
  </dl>