<nav>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <ul class="cmp-nav-links">
    <li>
      <a routerLink="star-war" routerLinkActive="st-active">
        <i class="material-symbols-outlined"></i>
        STAR WAR
      </a><span class="material-symbols-outlined">
        smart_toy
        </span>
      <a routerLink="google" routerLinkActive="st-active">
        <i class="material-symbols-outlined"></i>
        GOOGLE
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>